.slider {
  border-radius: 2vh;
  position: relative;
  overflow: hidden;
  width: 65%;
  height: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  margin: 50px auto;
  z-index: 10;
  min-width: 650px;
}
.card__container {
  position: relative;
  max-width: 1200px;
  height: 100%;
  display: grid;
  width: auto;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: 2;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.container__items {
  height: 100%;
  margin: auto;
  width: 100%;
  margin-top: 80px;
  background-color: white;
  max-width: 1200px;
}
.background {
  position: absolute;
  z-index: 0;
  max-width: 1200px;
  width: 100%;
  min-width: 670px;
  max-height: 600px;
}
.gradient {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgb(255, 255, 255) 70%,
    rgb(255, 255, 255) 100%
  );
  min-width: 670px;
  position: absolute;
  z-index: 1;
  max-width: 1200px;
  width: 100%;
  height: 600px;
}
.container__header {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 50px;
  color: #6e43fa;
}
