.liked {
  min-height: 100vh;
  height: auto;
  width: 100%;
  max-width: 1200px;
  background-color: white;
  margin: auto;
  padding-top: 90px;
  padding-left: 20px;
}
.liked__cards {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.liked__header {
  color: #6e43fa;
  font-size: 3rem;
}
@media (max-width: 700px) {
  .liked__cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 470px) {
  .liked__cards {
    grid-template-columns: 1fr;
  }
}
