.card {
  margin-bottom: 50px;
  position: relative;
  display: flex;
  justify-self: center;
  width: 200px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
  height: 250px;
  background-color: white;
}
.card__image {
  width: 300px;
  position: absolute;
  left: -55px;
  object-fit: cover;
}
.card__rating {
  flex-direction: column;
  position: absolute;
  background-color: white;
  width: 100%;
  display: flex;
  bottom: 0;
  right: 0;
  align-items: flex-end;
}
.card__rating_rate {
  width: 30px;
}
.card__hr {
  width: 100%;
  border: 1px solid #6e43fa;
}
.info {
  display: flex;
}
.rating {
  background-color: #6e43fa;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 7px;
  position: relative;
}
.info__title {
  padding: 5px;
}
.card__heart {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 40px;
  z-index: 10;
}
.card__heart_background {
  width: 50px;
  height: 50px;
  z-index: 5;
  position: absolute;
  background-color: white;
  border-radius: 0 0 10px 0;
}
@media (max-width: 470px) {
  .card {
    width: 90%;
    margin-left: 0;
  }
  .card__image {
    width: 118%;
    position: relative;
    min-width: 300px;
  }
}
