* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
html {
  height: 100%;
}
body,
#root {
  min-height: 100vh;
  height: auto;
  background-image: url("./images/vivid-blurred-colorful-background.jpg");
  background-attachment: fixed;
  background-size: cover;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;

  cursor: pointer;
}
